<!DOCTYPE html>
<html>

<head>
  <title>OPEN UP!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
  <link rel="stylesheet" href="/style.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="body">
    <!-- これは背景を制御するための要素です -->
  </div>

  <div class="darkWindow">
    <div class="wrapper">
      <div>
        <p class="title">OPEN UP!</p>
        <p>Powered by <a href="https://aice.cloud" target="_blank">AICE.CLOUD</a></p>
      </div>
      <div>
        <form method="post" action="/" class="entry" onsubmit="return checkParams(this);">

          <div class="login">
            <input type="hidden" name="room_name" value="<%- room_name %>" />

            <p class="invitedmessage">「<%- room_name %>」に入りました。少々お待ちください。</p>


            <!-- nameがある場合 -->
            <p id="nameDisplayArea" class="invisible">
              参加者：<%- user_name %> さん
                <input type="hidden" id="user_name" value="<%- user_name %>" />
            </p>

            <input type="hidden" name="user_name" value="<%- user_name %>" />
            <input type="hidden" name="nick_name" value="<%- nick_name %>" />
            <input type="hidden" name="user_id" value="<%- user_id %>" />

          </div>
        </form>
      </div>
    </div>
  </div>

  <footer>
    Copyright © 2021
    <a href="https://aiforus.co.jp/" target="_blank">AIFORUS,Inc.</a>
  </footer>
  <script>
 
  </script>
</body>

</html>